<!DOCTYPE html>

<html>
<head>
    <title>Bantuan</title>
    <link rel="icon" href="/img/cuaca.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main-content">
        {{>header}}

        <p><strong>a. Halaman ini digunakan untuk apa?</strong><br>
        Halaman ini digunakan untuk memberikan informasi dan jawaban pertanyaan</p>
        <p><strong>b. Apa itu API?</strong><br>
        API (Application Programming Interface) adalah sekumpulan aturan dan protokol
        yang memungkinkan perangkat lunak untuk berkomunikasi satu sama lain. 
        Dalam konteks aplikasi cuaca kami, API digunakan untuk mengambil data cuaca dari sumber data eksternal.</p>
        <p><strong>c. API apa yang digunakan dalam aplikasi ini?</strong><br>
        API yang digunakan dalam aplikasi ini adalah Mapbox API. <br>
        API ini digunakan untuk melakukan geocoding, yaitu mengonversi alamat atau lokasi
        menjadi koordinat geografis (latitude dan longitude) yang dapat digunakan untuk
        mendapatkan prediksi cuaca pada lokasi tersebut. Mapbox API memberikan informasi tentang
        lokasi geografis berdasarkan alamat yang diberikan dan menyediakan data seperti koordinat
        dan nama lokasi yang digunakan dalam prediksi cuaca.</p>
        <p><strong>d. Salah satu pola arsitektur API (SOAP)</strong><br>
        SOAP adalah protokol komunikasi yang memungkinkan aplikasi untuk mentransfer data dan pesan
        antara sistem yang berbeda. Ini menggunakan format pesan XML dalam permintaan dan tanggapan antara layanan.</p>
    </div>
    {{>footer}}
</body>
</html>