<!DOCTYPE html>

<html>
<head>
    <title>Tentang</title>
    <link rel="icon" href="/img/cuaca.png">
    <link rel="stylesheet" href="/css/style.css">
    </head>
<body>
    <div class="main-content">
        {{>header}}
        <img class="potrait" src="/img/photo.png">
    </div>
    {{>footer}}
</body>
</html>