<!DOCTYPE html>

<html>
<head>
    <title>Tentang</title>
    <link rel="icon" href="/img/cuaca.png">
    <link rel="stylesheet" href="/css/style.css">
    </head>
<body>
    <div class="main-content">
        {{>header}}
        <img class="potrait" src="/img/photo.png">
        <h2>Biodata Diri</h2>
        <ul>
            <li>Nama : Indah Chania</li>
            <li>TTL  : Padang, 2 April 2003</li>
            <li>Asal : Padang, Sumatera Barat</li>
        </ul>
        <h2>Pendidikan</h2>
        <li>Universitas Negeri Padang
            2021 - Sekarang
            Informatika
        </li>
        <li>SMA Negeri 9 Padang
            2018 - 2021
        </li>
        <li>SMP Negeri 31 Padang
            2015 - 2018
        </li>
    </div>
    {{>footer}}
</body>
</html>